.imageContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-height: 400px;
  height: auto;
}
.imageContent {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: grid;
  height: 100%;
  gap: 0.125rem;
  overflow: hidden;
  border-radius: 0.75rem;
  /* opacity: 0; */
}
.imageBackground {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
