.imageContainer {
  position: relative;
  width: 100%;
  max-height: 400px;
}
.imageContent {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: grid;
  height: 100%;
  gap: 0.125rem;
  overflow: hidden;
  border-radius: 0.75rem;
  position: absolute;
  border: solid 1px rgb(207, 217, 222);
}