.profilePictureContainer {
  height: 2.8em;
  width: 2.8em;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  grid-column: 1;
  grid-row: 1 / 3;
}

.profilePicture,
.fallbackPicture {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.profilePicture {
  z-index: 2;
}

.fallbackPicture {
  background-image: url(https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png);
}

.clickable:hover {
  filter: brightness(0.9);
}

.hide {
  display: none;
}
